.animate:
  image: eclipse-temurin:21-jdk
  variables:
    ANIMATE_VERSION: 'latest'
    ANIMATE_ARGS: ''
  before_script:
    - |
      if [ "$ANIMATE_VERSION" = "latest" ]; then
        url="https://github.com/evdenis/animate/releases/latest/download/animate.jar"
      else
        url="https://github.com/evdenis/animate/releases/download/${ANIMATE_VERSION}/animate.jar"
      fi
      curl -sL --fail -o /tmp/animate.jar "$url"
  script:
    - java -jar /tmp/animate.jar $ANIMATE_ARGS
